<!doctype html>
<html>

<head>
    <title>International Student Data</title>
<style>
</style>
</head>

<body>

  <form method="get" action="/processit">
    <h3>Student Number</h3>
    <p>10 years</p>
    <p>
    2006<input type="text" name="years0"></br>
    2007<input type="text" name="years1"></br>
    2008<input type="text" name="years2"></br>
    2009<input type="text" name="years3"></br>
    2010<input type="text" name="years4"></br>
    2011<input type="text" name="years5"></br>
    2012<input type="text" name="years6"></br>
    2013<input type="text" name="years7"></br>
    2014<input type="text" name="years8"></br>
    2015<input type="text" name="years9"></br>
    2016<input type="text" name="years10"></br>
    </p>
    <button>submit</button>
  </form>

  <form method="get" action="/processit1">
    <h3>Academic Level</h3>
    <p>Graduate, Undergraduate, Post grad training, Other</p>
    <p>
    Graduate<input type="text" name="grad"></br>
    Undergraduate<input type="text" name="undergrad"></br>
    Post grad training<input type="text" name="postgrad"></br>
    Other<input type="text" name="other"></br>
    </p>
    <button>submit</button>
  </form>

    <script>
    </script>

</body>

</html>
